<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col >
          <ion-title class="ion-text-left">
            Kawal Corona ByRA
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-right">
            <a href="https://api.whatsapp.com/send?phone=+6287786202538">
              <img alt="logo" id="header_logo" height="30" src="assets/icon/LOGO.png">
            </a>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-progress-bar type={{progress}}></ion-progress-bar>

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable class="dark" [loadingIndicator]="loadingIndicator" [limit]="10" [rows]="rows" [rowHeight]="'auto'"
      [columns]="columns" [columnMode]="'standart'" [sorts]="[{ prop: 'positif', dir: 'desc' }]" [headerHeight]="50"
      [footerHeight]="50">
    </ngx-datatable>
  </div>
</ion-content>