<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col >
          <ion-title class="ion-text-left">
            Kawal Corona ByRA
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-right">
            <a href="https://api.whatsapp.com/send?phone=+6287786202538">
              <img alt="logo" id="header_logo" height="30" src="assets/icon/LOGO.png">
            </a>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar type={{progress}}></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" class="ion-text-center">
          <ion-card-header>
            <ion-card-title>Keseluruhan</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light" class="ion-text-center">
          <ion-card-header>
            <ion-card-title>Indonesia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="warning" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{totalPositif.value}}</ion-card-title>
            <div>positif</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="warning" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{dataApi.positif}}</ion-card-title>
            <div>positif</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="success" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{totalSembuh.value}}</ion-card-title>
            <div>sembuh</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="success" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{dataApi.sembuh}}</ion-card-title>
            <div>sembuh</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="danger" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{totalMeninggal.value}}</ion-card-title>
            <div>meninggal</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="danger" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{dataApi.meninggal}}</ion-card-title>
            <div>meninggal</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="medium" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{alive2}}
            </ion-card-title>
            <div>dirawat</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="medium" class="ion-text-center">
          <ion-card-content>
            <ion-card-title>{{alive1}}
            </ion-card-title>
            <div>dirawat</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>

    <ion-card-content>
      <ion-card-title>curhatan developer</ion-card-title>
        Aplikasi ini dibuat berdasarkan data yang diterima dari
        <a href="https://kawalcorona.com/">api.kawalcorona.com</a> 
        dengan waktu pengerjaan 2 malam menggunakan ionic angular.
        source code bisa di lihat di github saya. <br>
        Untuk info lebih lanjut, saran, kritik, masukan silahkan klik logo di pojok kanan atas. <br>
        Terima Kasih, ByRA.
    </ion-card-content>
  </ion-card>




</ion-content>